<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>FitDiary</title>
        <link href="/static/css/home.css" rel="stylesheet" />
        <script src="/static/scripts/diary-scheduler.js"></script>
    </head>
    <body>
        <diary-scheduler>
            Home Template
        </diary-scheduler>
    </body>
</html>
