<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>FitDiary</title>
        <link href="/static/css/home.css" rel="stylesheet" />
        <script src="/static/scripts/diary-scheduler.js"></script>
    </head>
    <body>
      <div class="diary-book">
        <div class="diary-book__container">
          <div class="diary-book__head">
            <div class="db-title ticket-format">
              <h1>Fit Diary</h1>
            </div>
          </div>
          <div class="diary-book__body">
            <div class="diary-book__body-container">
              <div class="db-navigation">
                <button class="nav-btn">Yoga</button>
                <button class="nav-btn">Pilates</button>
                <button class="nav-btn">Gym</button>
                <button class="nav-btn">Ballet</button>
                <button class="nav-btn">Dance</button>
                <button class="nav-btn">Marathon</button>
                <button class="nav-btn">Hiking</button>
                <button class="nav-btn">Skiing</button>
              </div>
              <div class="db-listing">
                <div class="db-element">
                  <div class="db-element__image">
                    <img src="/static/images/image_14.png">
                  </div>
                  <div class="db-element__text">
                    <h3>Brian's Yoga Class</h3>
                    <p>M/W/F 11:30 ~ 12:30</p>
                  </div>
                </div>
                <div class="db-element">
                  <div class="db-element__image">
                    <img src="/static/images/image_15.png">
                  </div>
                  <div class="db-element__text">
                    <h3>Sally's Yoga Class</h3>
                    <p>M/F 7:30 ~ 8:30</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
