button[data-color="3ab0d1"],
div[data-color="3ab0d1"] {
  background-color: #3ab0d1;
}
button[data-color="aee4ff"],
div[data-color="aee4ff"] {
  background-color: #aee4ff;
}
button[data-color="ff8080"],
div[data-color="ff8080"] {
  background-color: #ff8080;
}
button[data-color="ffd9d9"],
div[data-color="ffd9d9"] {
  background-color: #ffd9d9;
}
button[data-color="fee6c9"],
div[data-color="fee6c9"] {
  background-color: #fee6c9;
}
button[data-color="f9de33"],
div[data-color="f9de33"] {
  background-color: #f9de33;
}
button[data-color="e5e5e5"],
div[data-color="e5e5e5"] {
  background-color: #e5e5e5;
}
button[data-color="f4f2db"],
div[data-color="f4f2db"] {
  background-color: #f4f2db;
}
