@font-face {
  font-family: "Gorditas";
  src: url("../font/Gorditas-Regular.ttf");
}
@font-face {
  font-family: "Kranky";
  src: url("../font/Kranky-Regular.ttf");
}
@font-face {
  font-family: "Kefa";
  src: url("../Kefa-Regular.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "futura";
}
button {
  display: inline-block;
}

h1 {
  font-family: "Gorditas";
  font-weight: 400;
}

.diary-book {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
}
.ticket-format {
  background-color: #f9de33;
  max-width: max-content;
  border: 3px solid #3ab0d1;
  margin: 0 auto;
  position: relative;
}
.ticket-format::before,
.ticket-format::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
}

.ticket-format::before {
  left: 0;
  transform: translateY(-50%) translateX(calc(-50% - 3px)) rotate(45deg);
  border-right: 3px solid #3ab0d1;
  border-top: 3px solid #3ab0d1;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.ticket-format::after {
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(calc(50% + 3px)) rotate(45deg);
  border-left: 3px solid #3ab0d1;
  border-bottom: 3px solid #3ab0d1;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
}

.db-title h1 {
  font-size: 3.2rem;
  margin: 0;
  padding: 5px 40px;
  line-height: 1.1;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
}

.diary-book__body {
  padding: 2rem;
}
.diary-book__body-container {
  display: flex;
  justify-content: center;
}

.db-navigation {
  display: flex;
  flex-direction: column;
  width: 40px;
}
.db-navigation .nav-btn {
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: none;
  background-color: #3ab0d1;
  color: #fff;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  padding: 10px 5px;
  font-size: 1.2rem;
  letter-spacing: -2px;
}
.db-navigation .nav-btn:not(:last-child) {
  margin-bottom: 5px;
}

.db-listing {
  padding: 3rem 1rem;
  background-color: #3ab0d1;
  width: 100%;
  max-width: 600px;
}
.db-listing__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 30px;
}
.db-element {
  width: 50%;
  padding: 0 10px;
}

activity-btn {
  display: block;
}
.db-elem-btn {
  cursor: pointer;
  transition: 0.3s opacity;
}
.db-elem-btn:hover {
  opacity: 0.8;
}
.db-element__text {
  background: #fff;
  text-align: center;
  padding: 5px 0;
}
.db-element__image img {
  max-width: 100%;
  display: block;
  width: 100%;
}
.db-element__text h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-family: "Kranky";
}
.db-element__text p {
  font-size: 15px;
  margin: 0;
  font-family: "Kefa";
}


/* ticket popup */
.ticket__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s visibility, 0.3s opacity;
}
.ticket__popup.active {
  visibility: visible;
  opacity: 1;
}
.ticket__popup-wrapper.ticket-format {
  border: 3px solid #000;
  display: flex;
}
.ticket__popup-wrapper.ticket-format::after,
.ticket__popup-wrapper.ticket-format::before {
  width: 30px;
  height: 30px;
}
.ticket__popup-wrapper.ticket-format::after {
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}
.ticket__popup-wrapper.ticket-format::before {
  border-right: 3px solid #000;
  border-top: 3px solid #000;
}

.ticket__popup-wrapper .ticket__image {
  margin: 20px;
  border: 6px solid #4b430f;
  width: 180px;
  height: 180px;
}
.ticket__popup-wrapper .ticket__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ticket__popup-wrapper .ticket__information {
  text-align: center;
  border-left: 2px solid #000;
  border-right: 2px dashed #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticket__popup-wrapper .ticket-textcontent {
  padding: 0 30px;
}
.ticket__popup-wrapper .ticket-textcontent h3 {
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: 400;
}
.ticket__popup-wrapper .ticket-textcontent p {
  margin: 0;
  font-size: 14px;
}
.ticket__popup-wrapper .ticket-gradient {
  height: 30px;
  background-image: repeating-linear-gradient(-45deg,
      transparent,
      transparent 10px,
      black 10px,
      black 12px);
}

.ticket__popup-wrapper .ticket__action {
  padding: 10px 40px 10px 10px;
  display: flex;
  align-items: center;
}
.ticket__popup-wrapper .ticket__action .ticket-btn {
  writing-mode: tb-rl;
  background-color: #3ab0d1;
  border: none;
  border-radius: 5px;
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s background-color;
}
.ticket__popup-wrapper .ticket__action .ticket-btn:hover {
  background-color: #078090;
}
