@font-face {
  font-family: "Gorditas";
  src: url("../font/Gorditas-Regular.ttf");
}
@font-face {
  font-family: "Kranky";
  src: url("../font/Kranky-Regular.ttf");
}
@font-face {
  font-family: "Kefa";
  src: url("../Kefa-Regular.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "futura";
}
button {
  display: inline-block;
}

h1 {
  font-family: "Gorditas";
  font-weight: 400;
}

diary-book {
  display: block;
}
.diary-book {
    max-width: 1180px;
    margin: 0 auto;
    padding: 2rem;
}
.ticket-format {
  background-color: #f9de33;
  max-width: max-content;
  border: 3px solid #3ab0d1;
  margin: 0 auto;
  position: relative;
}
.ticket-format::before,
.ticket-format::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
}

.ticket-format::before {
  left: 0;
  transform: translateY(-50%) translateX(calc(-50% - 3px)) rotate(45deg);
  border-right: 3px solid #3ab0d1;
  border-top: 3px solid #3ab0d1;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.ticket-format::after {
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(calc(50% + 3px)) rotate(45deg);
  border-left: 3px solid #3ab0d1;
  border-bottom: 3px solid #3ab0d1;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
}

.db-title h1 {
  font-size: 3.6rem;
  margin: 0;
  padding: 5px 7rem;
  line-height: 1.1;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
}

.diary-book__body {
  padding: 2rem;
}
.diary-book__body-container {
  display: flex;
  justify-content: center;
}

.db-navigation {
  display: flex;
  flex-direction: column;
  width: 40px;
}
.db-navigation .nav-btn {
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: none;
  color: #333;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  padding: 10px 5px;
  font-size: 1.2rem;
  letter-spacing: -2px;
  opacity: 0.6;
  -webkit-box-shadow: inset -10px 0px 10px -7px rgba(0, 0, 0, 1);
  box-shadow: inset -10px 0px 10px -7px rgba(0, 0, 0, 1);
  transition: 0.2s opacity, 0.2s box-shadow;
}
.db-navigation .nav-btn:hover,
.db-navigation .nav-btn.btnactive {
  opacity: 1;
  box-shadow: inset -10px 0px 10px -7px rgba(0, 0, 0, 0);
}

.db-navigation .nav-btn:not(:last-child) {
  margin-bottom: 5px;
}

.db-listing {
  padding: 3rem 1rem;
  background-color: #3ab0d1;
  width: 100%;
  max-width: 900px;
  transition: 0.3s background-color;
}
.db-listing__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: calc(1042px - 6rem);
  overflow-y: auto;
  row-gap: 30px;
  scrollbar-width: thick;
  scrollbar-color: #666666 transparent;
}

.db-element {
  width: 50%;
  padding: 0 10px;
}

activity-btn {
  display: block;
}
activity-btn[disabled] {
  cursor: not-allowed;
}
activity-btn[disabled] .db-element__image img,
activity-btn[disabled] .db-element__text {
  opacity: 0.4;
}
activity-btn[disabled] .db-element__image::after {
  content: "FULL";
  position: absolute;
  font-size: 7rem;
  letter-spacing: 10px;
  top: 50%;
  left: 50%;
  color: #ff7070;
  transform: translate(-50%, -50%);
}
.db-elem-btn:not([disabled]) {
  cursor: pointer;
  transition: 0.3s opacity;
}
.db-elem-btn:not([disabled]):hover {
  opacity: 0.8;
}
.db-element__text {
  background: #fff;
  text-align: center;
  padding: 5px 0;
}
.db-element__image {
  position: relative;
}
.db-element__image img {
  max-width: 100%;
  display: block;
  width: 100%;
}
.db-element__text h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-family: "Kranky";
}
.db-element__text p {
  font-size: 15px;
  margin: 0;
  font-family: "Kefa";
}


/* ticket popup */
.ticket__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s visibility, 0.3s opacity;
}
.ticket__popup.active {
  visibility: visible;
  opacity: 1;
}
.ticket__popup-wrapper.ticket-format {
  border: 3px solid #000;
  display: flex;
}
.ticket__popup-wrapper.ticket-format::after,
.ticket__popup-wrapper.ticket-format::before {
  width: 30px;
  height: 30px;
}
.ticket__popup-wrapper.ticket-format::after {
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}
.ticket__popup-wrapper.ticket-format::before {
  border-right: 3px solid #000;
  border-top: 3px solid #000;
}

.ticket__popup-wrapper .ticket__image {
  margin: 20px;
  border: 6px solid #4b430f;
  width: 250px;
  height: 250px;
}
.ticket__popup-wrapper .ticket__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ticket__popup-wrapper .ticket__information {
  text-align: center;
  min-width: 350px;
  border-left: 2px solid #000;
  border-right: 2px dashed #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticket__popup-wrapper .ticket-textcontent {
  padding: 0 30px;
}
.ticket__popup-wrapper .ticket-textcontent h3 {
  font-size: 25px;
  margin: 0 0 20px;
  font-weight: 400;
}
.ticket__popup-wrapper .ticket-textcontent p {
  margin: 0;
  font-size: 16px;
}
.ticket__popup-wrapper .ticket-gradient {
  height: 40px;
  background-image: repeating-linear-gradient(-45deg,
      transparent,
      transparent 10px,
      black 10px,
      black 12px);
}

.ticket__popup-wrapper .ticket__action {
  padding: 10px 60px 10px 20px;
  display: flex;
  align-items: center;
}
.ticket__popup-wrapper .ticket__action .ticket-btn {
  writing-mode: tb-rl;
  background-color: #3ab0d1;
  border: none;
  border-radius: 8px;
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 35px 20px;
  cursor: pointer;
  transition: 0.2s background-color;
}
.ticket__popup-wrapper .ticket__action .ticket-btn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
.ticket__popup-wrapper .ticket__action .ticket-btn:hover {
  background-color: #078090;
}


@keyframes listtransition {
  from { opacity: 0; }
  to { opacity: 1; }
}
